.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #0ea5e9;
  --rdp-background-color: #e0f2fe;
  --rdp-accent-color-dark: #0369a1;
  --rdp-background-color-dark: #0ea5e9;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 2px solid var(--rdp-accent-color);
  margin: 1em;
}

.rdp-day_selected, 
.rdp-day_selected:focus-visible, 
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
  color: white;
}

.rdp-button:hover:not([disabled]) {
  background-color: var(--rdp-background-color);
}

.rdp-months {
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .rdp-months {
    flex-direction: column;
  }
} 